<template>
  <div class="hello">

    <div id="app">
      <h1>Prueba Técnica de Siroko</h1>
      <div>
        <button id="btn" class="" v-on:click="checkoutCart()">Buy Cart</button>
      </div>
      <div v-for="(product) in products" :key="product.id">
        <p>
          {{product.title}} => {{product.description}}. Num. Product Cart:
          <input :id="product.id" :value=product.numberCart v-on:change="changeProductToCart(product.id, $event)">
          <button id="btn" class="" v-on:click="addProductToCart(product.id)">Add</button>
          <button id="btn" class="" v-on:click="removeProductToCart(product.id)">Remove</button>
        </p>
      </div>
    </div>
  </div>

</template>

<script>
import axios from 'axios'

export default {
  name: 'HelloWorld',
  props: {
  },
  data () {
    return {
      products: null
    }
  },
  mounted () {
    axios
        .get('http://api.siroko.local:8888/products')
        .then(response => (this.products = response.data.data))
        .catch(error => console.log(error))
  },
  methods: {
    removeProductToCart: function (id) {
      axios.patch("http://api.siroko.local:8888/product/remove?uid="+id)
          .then((response)  =>  {
            let numberCart = document.getElementById(response.data.data.id);
            numberCart.value = response.data.data.numberCart;
            console.log(response.data);
          }, (error)  =>  {
            alert("The product is not in the shopping cart. " + error)
          })
    },
    addProductToCart: function (id) {
      axios.patch("http://api.siroko.local:8888/product/add?uid="+id)
          .then((response)  =>  {
            let numberCart = document.getElementById(response.data.data.id);
            numberCart.value = response.data.data.numberCart;
            console.log(response.data);
          }, (error)  =>  {
            console.log(error);
          })
    },
    changeProductToCart: function (id, event) {
      axios.patch("http://api.siroko.local:8888/product/change?uid="+id+"&numberCart="+event.target.value)
          .then((response)  =>  {
            let numberCart = document.getElementById(response.data.data.id);
            numberCart.value = response.data.data.numberCart;
            console.log(response.data);
          }, (error)  =>  {
            console.log(error);
          })
    },
    checkoutCart: function () {
      axios.delete("http://api.siroko.local:8888/checkout")
          .then((response)  =>  {
            var message = "Congratulations you buy: ";
            response.data.data.forEach(function myFunction(item) {
              message += item.title + ", ";
              let numberCart = document.getElementById(item.id);
              numberCart.value = 0;
              console.log(item);
            })
            alert(message);
            //console.log(response.data);
          }, (error)  =>  {
            console.log(error);
          })
    },
  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
